.linke {
    margin: 20px;
    width: fit-content;
    position: relative;
    text-decoration: 0;
    background-color: #36678f;
    color: #fff;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 14px;
}

